html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 1210px;
}
.width-height-100-persent {
  width: 100%;
  height: 100%;
}
.mar-pad-0 {
  margin: 0;
  padding: 0;
}
.base-module-inner {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
.total-frame {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 1150px;
}
.frame {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.frame .nav {
  width: 100%;
  height: 30px;
  background-color: #e5e4e3;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体", sans-serif;
  color: #666;
  position: relative;
  font-size: 12px;
  line-height: 30px;
}
.frame .nav .nav-inner {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
.frame .nav .nav-inner .location {
  float: left;
  line-height: 30px;
  margin-left: 200px;
}
.frame .nav .nav-inner .nav-login {
  float: right;
  margin: 0;
  padding: 0;
  position: relative;
}
.frame .nav .nav-inner .nav-login li {
  list-style: none;
  height: 100%;
  width: auto;
  float: left;
  position: relative;
}
.frame .nav .nav-inner .nav-login li:hover div {
  display: block;
  z-index: 200;
}
.frame .nav .nav-inner .nav-login li .openPage1 {
  height: 250px;
  width: 285px;
  background-color: #ffffff;
  position: absolute;
  display: none;
}
.frame .nav .nav-inner .nav-login li .openPage2 {
  height: 250px;
  width: 170px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  display: none;
}
.frame .nav .nav-inner .nav-login li .openPage3 {
  height: 250px;
  width: 990px;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  z-index: 1000;
  display: none;
}
.frame .nav .nav-inner .nav-login li span:hover {
  cursor: pointer;
  color: red;
}
.frame .nav .nav-inner .nav-login .division {
  padding-left: 10px;
  padding-right: 10px;
}
.frame .header {
  width: 100%;
  height: 140px;
  background: #f6f6f6;
}
.frame .header .head-inner {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
.frame .header .head-inner > div {
  float: left;
}
.frame .header .head-inner .head-img {
  width: 190px;
  height: 100%;
  position: relative;
}
.frame .header .head-inner .head-img .img-position {
  position: absolute;
  bottom: 0;
}
.frame .header .head-inner .head-middle {
  width: 800px;
  height: 100%;
}
.frame .header .head-inner .shopping-car {
  width: 193px;
  height: 100%;
}
.frame .show-pic {
  width: 100%;
  height: 480px;
  background-color: #0000cc;
  padding: 0;
}
.frame .show-pic .show-inner {
  width: 1190px;
  height: 100%;
  margin: 0 auto;
}
.frame .show-pic .show-inner > div {
  border: 1px solid #00ff00;
  float: left;
  position: relative;
}
.frame .show-pic .show-inner .show-left {
  height: 100%;
  width: 190px;
}
.frame .show-pic .show-inner .show-left .container {
  width: 100%;
  height: 100%;
  background: #6c6669;
  padding-top: 20px;
  box-sizing: border-box;
}
.frame .show-pic .show-inner .show-left .container .every-block {
  height: 29.33333333px;
  line-height: 29.33333333px;
  padding-left: 7px;
  width: 100%;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\\5b8b体";
}
.frame .show-pic .show-inner .show-left .container .every-block:hover {
  background-color: #999395;
}
.frame .show-pic .show-inner .show-left .tab {
  width: 1000px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  left: 190px;
  z-index: 200;
}
.frame .show-pic .show-inner .show-middle {
  height: 100%;
  width: 800px;
}
.frame .show-pic .show-inner .show-right {
  height: 100%;
  width: 193px;
}
.frame .seckill {
  width: 100%;
  height: 250px;
  background-color: #00b3ee;
  margin-bottom: 30px;
}
.frame .enjoy-bg {
  width: 100%;
  height: 424px;
  background-color: #7b007b;
  margin-bottom: 30px;
}
.frame .break-in-show {
  width: 100%;
  height: 444px;
  background-color: #00ff00;
  margin-bottom: 30px;
}
.frame .get-paper-center {
  width: 100%;
  height: 215px;
  background-color: #2b669a;
  margin-bottom: 30px;
}
.frame .pic-banner {
  width: 100%;
  height: 100px;
  background-color: #4cae4c;
  margin-bottom: 30px;
}
.frame .quality {
  width: 100%;
  height: 405px;
  background-color: #4d2926;
}
.frame .pic-small-baner {
  width: 100%;
  height: 100px;
  background-color: #7b007b;
  margin-bottom: 30px;
}
.frame .clothes {
  width: 100%;
  height: 578px;
  background-color: #2aabd2;
  margin-bottom: 30px;
}
.frame .invented {
  width: 100%;
  height: 523px;
  background-color: #3c763d;
  margin-bottom: 30px;
}
.frame .global-line {
  width: 34px;
  height: auto;
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  background-color: #918888;
  font-family: "微软雅黑";
  transition: opacity .5s;
}
.frame .line-inner-block {
  overflow: hidden;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 3px;
  line-height: 14px;
  text-align: center;
  color: #fefefe;
  font-size: 12px;
  cursor: pointer;
  transition: all .5s;
}
.frame .line-inner-block:hover {
  background: red;
}
.frame .line-bottom-block {
  overflow: hidden;
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 3px;
  line-height: 14px;
  text-align: center;
  color: #fefefe;
  font-size: 12px;
  cursor: pointer;
  transition: all .5s;
  background-color: #4a4a5e;
}
.frame .line-bottom-block:hover {
  background: red;
}
.frame .line-bottom-block:hover {
  background: #4a4a5e;
}
